@media only screen and (max-width: 640px) {
  .row {
    width: 96%;
  }

  .banner {
    height: 60%;
  }

  .search-place-fields-container {
    width: 95%;
  }

  .search-place-fields {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .search-btn-container {
    grid-column: 1 / span 1;
  }
}
